[submodule "flutter"]
	path = submodules/flutter
	url = https://github.com/flutter/flutter.git

[submodule "phc-winner-argon2"]
	path = submodules/phc-winner-argon2
	url = https://github.com/P-H-C/phc-winner-argon2.git
