name: Build Passy for Linux ARMv7
on:
  workflow_dispatch:
  pull_request:
    types: [ opened, synchronize, reopened, review_requested ]
    branches:
      - main
      - dev
jobs:
  build_linux_armv7:
    name: Build Passy CLI for Linux ARMv7
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.7.0
      - name: Create build directory
        shell: bash
        run: |
          cd ..
          mkdir build
          mkdir bin
          cd bin
          wget https://raw.githubusercontent.com/GlitterWare/Passy/$GITHUB_SHA/.github/workflows/armv7.sh
          chmod +x armv7.sh
      - name: Install dependencies
        shell: bash
        run: |
          sudo apt-get update
          sudo apt-get install -y qemu binfmt-support qemu-user-static qemu-system-arm
      - name: Download Dart
        shell: bash
        run: |
          cd ../bin
          wget https://storage.googleapis.com/dart-archive/channels/stable/release/3.4.4/sdk/dartsdk-linux-arm-release.zip
      - name: Build for ARMv7
        uses: tj-actions/docker-run@v2
        with:
          image: ubuntu:22.04
          name: ubuntu
          options: --rm --platform linux/arm/v7 -v $PWD:/Passy -v /home/runner/work/Passy/build:/passy-build -v /home/runner/work/Passy/bin:/passy-bin
          args: /passy-bin/armv7.sh
      - name: Archive Passy CLI build
        uses: thedoctor0/zip-release@0.7.1
        with:
          type: zip
          directory: ../build
          filename: Passy-CLI-Linux-ARMv7.zip
          path: passy-cli
      - name: Upload Passy CLI build
        uses: actions/upload-artifact@v4
        with:
          name: cli-linux-armv7
          path: /home/runner/work/Passy/build/Passy-CLI-Linux-ARMv7.zip
